<!--
  Manipulator specific version of the state visualizer.

  Defaults provided for IRB 2600-12/1.65:
   - J23_coupled = false

  Usage:
    robot_state_visualize_irb2600_12_165.launch robot_ip:=<value>
-->
<launch>
  <arg name="robot_ip" doc="IP of the controller" default="192.168.10.26"/>
  <arg name="J23_coupled" default="false" doc="If true, compensate for J2-J3 parallel linkage" />
  <arg name="robot_name" doc="Robot name" default="irb2600"/>

  <rosparam command="load" file="$(find abb_irb2600_support)/config/joint_names_irb2600_12_165.yaml" />

  <include file="$(find abb_driver)/launch/robot_interface.launch">
    <arg name="robot_ip"    value="$(arg robot_ip)" />
    <arg name="J23_coupled" value="$(arg J23_coupled)" />
    <arg name="robot" value="$(arg robot_name)" />
  </include>

  <node name="robot_state_publisher" pkg="robot_state_publisher"
    type="robot_state_publisher" >
    <remap from="/joint_states" to="/$(arg robot_name)/joint_states"/>
  </node>

  <include file="$(find abb_irb2600_support)/launch/load_irb2600_12_165.launch" />

  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find industrial_robot_client)/config/robot_state_visualize.rviz" required="true" />
</launch>
